.idea
.tags
*.opensdf
*.props
*.pdb
*.pyc
*.sdf
*.sln
*.suo
*.swp
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.DS_Store
*.xcuserstate
*.xcuserdatad/
*~
*.orig
*.cproject
nbproject
output
*.out
*.cmake
CMakeCache.txt
CMakeFiles/

bin/
gen/
build/
.gradle/
local.properties

.apt_generated/
*.iml

.svn/

*.xcarchive/
*.ipa
Pods/
*.symbols*.zip
# Exception List